<header class="header">
    <!-- <top-header>
        
    </top-header> -->
    <middle-header>

    </middle-header>
</header>

<section class="hero hero-normal" >
    <div class="container" >
        <div class="row">
            <!-- <div class="col-lg-3" style="background-color: brown;">
                <div class="hero__categories" >
                    <div class="hero__categories__all" >

                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul class="dropdown-content ">
                        <li><a routerLink="" routerLinkActive="active">Fresh Meat</a></li>
                        <li><a routerLink="" routerLinkActive="active">Vegetables</a></li>
                        <li><a routerLink="" routerLinkActive="active">Fruit &amp; Nut Gifts</a></li>
                        <li><a routerLink="" routerLinkActive="active">Fresh Berries</a></li>
                        <li><a routerLink="" routerLinkActive="active">Ocean Foods</a></li>
                        <li><a routerLink="" routerLinkActive="active">Butter &amp; Eggs</a></li>
                        <li><a routerLink="" routerLinkActive="active">Fastfood</a></li>
                        <li><a routerLink="" routerLinkActive="active">Fresh Onion</a></li>
                        <li><a routerLink="" routerLinkActive="active">Papayaya &amp; Crisps</a></li>
                        <li><a routerLink="" routerLinkActive="active">Oatmeal</a></li>
                        <li><a routerLink="" routerLinkActive="active">Fresh Bananas</a></li>


                        <li><a routerLink="" routerLinkActive="active">VISAGE</a></li>
                        <li><a routerLink="" routerLinkActive="active">MAQUILLAGE</a></li>
                        <li><a routerLink="" routerLinkActive="active">CORPS</a></li>
                        <li><a routerLink="" routerLinkActive="active">CHEVEUX</a></li>
                        <li><a routerLink="" routerLinkActive="active">BIO</a></li>
                        <li><a routerLink="" routerLinkActive="active">PARA-MÉDECAL</a></li>
                        <li><a routerLink="" routerLinkActive="active">HYGIÈNE</a></li>
                        <li><a routerLink="" routerLinkActive="active">BÉBÉ & MAMAN</a></li>
                        <li><a routerLink="" routerLinkActive="active">HOMME</a></li>
                        <li><a routerLink="" routerLinkActive="active">SOLAIRE</a></li>
                        <li><a routerLink="" routerLinkActive="active">SANTÉ</a></li>
                    </ul>
                </div>
            </div> -->
            

            <!-- moved to searchallcategories  -->
            <!-- <div class="col-lg-9" >
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+212.6.12.34.56.78</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>