<div class="hero__search">
    <div class="hero__search__form">
        <form action="#">
            
            <input type="text" [(ngModel)]="inputData" name="inputData" placeholder="What do yo u need?">
            <button (click)="GetSearchedData()" class="site-btn">SEARCH</button>
        </form>
    </div>
    <div class="hero__search__phone">
        <div class="hero__search__phone__icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="hero__search__phone__text">
            <h5>+212.6.12.34.56.78</h5>
            <span>support 24/7 time</span>
        </div>
    </div>
</div>