<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <i class="fas fa-phone fa-3x"></i>


                    <h4>Phone</h4>
                    <p>+212.6.12.34.56.78</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <i class="fas fa-map-marker-alt fa-3x"></i>
                    <h4>Address</h4>
                    <p>Sidi Bannour Morocco</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    
                    <i class="fas fa-clock fa-3x"></i>

                    <h4>Open time</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <i class="fas fa-envelope fa-3x"></i>
                    <h4>Email</h4>
                    <p>saydalialik&#64;contact.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="map">
    <iframe
        src="https://www.google.com/maps/embed/v1/place?q=Sidi+Bennour,+Maroc&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   <!--  <div style="overflow:hidden;resize:none;max-width:100%;width:1000px;height:500px;">
        <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;"><iframe
                style="height:100%;width:100%;border:0;" frameborder="0"
                src="https://www.google.com/maps/embed/v1/place?q=Sidi+Bennour,+Maroc&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
        </div><a class="googl-ehtml" href="https://www.bootstrapskins.com/themes" id="grab-map-data">premium bootstrap
            themes</a>
        <style>
            #embed-map-display img {
                max-width: none !important;
                background: none !important;
                font-size: inherit;
                font-weight: inherit;
            }
        </style>
    </div> -->
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Sidi Bannour</h4>
            <ul>
                <li>Phone: +212-6-12-34-56-78</li>
                <li>Addresse: Sidi Bennour , Morocco</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your name">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Your message"></textarea>
                    <button type="submit" class="site-btn">SEND MESSAGE</button>
                </div>
            </div>
        </form>
    </div>
</div>